/* body */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background-color: #f4a261;
    color: white;
    padding: 20px;
    text-align: center;
}

