/* body */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background-color: #199677;
    color: white;
    padding: 20px;
    text-align: center;
}

/* nav */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: white;
    color: rgb(221, 174, 21);
    border-radius: 10px;
    padding: 5px;
}

.active {
    background-color: #67b1db;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

/* main container */
.hero {
    background-color: #67b1db;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-align: center;
    padding: 25px 20px;
}
.hero button {
    font-size: 18px;
    color: white;
    background-color: #199677;
    border-style: none;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 10px;
}
.hero button:hover {
    background-color: darkgoldenrod;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.column {
    background-color: #199677;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
}

/*img article midified*/
article img {
    width: 340px;
    height: 220px;
    border-radius: 10px;
}
article img:hover {

    cursor: pointer;
    box-shadow: 1px 1px 1px 3px #199677;
}
article button {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    background-color: #199677;
    font-weight: 300;
    border-style: none;
    border-radius: 5px;
    text-transform: capitalize;
}
article button:hover {
    color: white;
    background-color: darkgoldenrod;
}
/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #67b1db;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1rem;
}

footer a:hover {
    color: darkgoldenrod;
}